<h1>Songs</h1>
<ul>
  <% @songs.each do |song| %>
    <li>
      <a href="<%= song_path(song) %>">
        
        <%= song.artist_name %>
        -
        <%= song.title %>
        
      </a>
            <%= link_to song.artist.name, artist_path(song.artist.id) if song.artist %>
    </li>
  <% end %>
</ul>

<ul>
  <% @category.posts.each do |p| %>
    <li><%= link_to p.title, post_path(p) %></li>
  <% end %>
</ul>